[submodule "packages/event"]
	path = packages/event
	url = https://gitlab.com/feng3d/event.git
[submodule "packages/bezier"]
	path = packages/bezier
	url = https://gitlab.com/feng3d/bezier.git
[submodule "packages/objectview"]
	path = packages/objectview
	url = https://gitlab.com/feng3d/objectview.git
[submodule "packages/polyfill"]
	path = packages/polyfill
	url = https://gitlab.com/feng3d/polyfill.git
[submodule "packages/task"]
	path = packages/task
	url = https://gitlab.com/feng3d/task.git
[submodule "packages/watcher"]
	path = packages/watcher
	url = https://gitlab.com/feng3d/watcher.git
[submodule "packages/serialization"]
	path = packages/serialization
	url = https://gitlab.com/feng3d/serialization.git
[submodule "packages/math"]
	path = packages/math
	url = https://gitlab.com/feng3d/math.git
[submodule "packages/filesystem"]
	path = packages/filesystem
	url = https://gitlab.com/feng3d/filesystem.git
[submodule "packages/shortcut"]
	path = packages/shortcut
	url = https://gitlab.com/feng3d/shortcut.git
[submodule "packages/renderer"]
	path = packages/renderer
	url = https://gitlab.com/feng3d/renderer.git
[submodule "packages/core"]
	path = packages/core
	url = https://gitlab.com/feng3d/core.git
[submodule "packages/terrain"]
	path = packages/terrain
	url = https://gitlab.com/feng3d/terrain.git
[submodule "packages/particlesystem"]
	path = packages/particlesystem
	url = https://gitlab.com/feng3d/particlesystem.git
[submodule "packages/assets"]
	path = packages/assets
	url = https://gitlab.com/feng3d/assets.git
[submodule "packages/parsers"]
	path = packages/parsers
	url = https://gitlab.com/feng3d/parsers.git
[submodule "packages/ui"]
	path = packages/ui
	url = https://gitlab.com/feng3d/ui.git
