/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Lettering  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120513
*/

body {
    background-image: url(http://www.freecsstemplates.org/previews/lettering/images/img01.jpg);
}

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}

article {
    margin: 0 auto;
    padding: 0;
    display:block;
    font-family: 'Arvo', serif;
    font-size: 13px;
    color: #3E3B36;   
    overflow: hidden;
    width: 920px;
    padding: 20px 40px 20px 40px;
}

footer {
    width: 920px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 0 15px 310px;
}

nav {
    float: left;
    width: 280px;
    margin: 0px;
    padding: 0px 0px 80px 10px;
    color: white;
    display: block;
}
nav ul {
    list-style: none;
}

nav h2 a {
    color:white;
    text-decoration:none;
}

nav li a {
    display: block;
    width: 260px;
    height: 20px;
    margin: 3px 0px;
    padding: 5px 0px 6px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    vertical-aling:middle;
    color:white;
}
nav li a:hover {
    background: #561924;
    text-decoration: none;
}

#logo {
    width: 280px;
    height: 140px;
    margin: 0;
    padding: 0;
    color: white;
}

#logo h1 {
    margin: 0;
    padding: 20px 0px 0px 0px;
    font-size: 50px;
    font-weight:normal;
}

#logo p, #logo h1 sup {
    margin: 0px;
    font-size: 20px;
    line-height:120%;
}
#logo p {
    color: #E0B1B9;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    text-align: center;
    text-transform: lowercase;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
    float: right;
    width: 520px;
    padding: 70px 30px 0px 60px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);
}

#content section {
    margin-top:30px;
    margin-bottom:60px;
}

#content a {
    text-decoration: none;
    color: #A13B30;
}

td {
    vertical-align: top;
}

td.datatype {
    text-align:right;
    padding-right:8px;
}

td.propertyName, td.paramName {
    padding-right:10px;
    font-weight:bold;
}

p.brief {
    overflow: hidden;
    background: url(http://www.freecsstemplates.org/previews/lettering/images/img03.png) no-repeat left top;
    margin-bottom: 30px;
    padding: 5px 10px 5px 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

footer {
    width: 920px;
    height: 80px;
    margin: 0 auto;
    padding: 0px 0 15px 310px;
}

footer p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: white;
}

footer p::after {
    content: " Design by freecsstemplates.org. Background by fotogrph.com.";
}

footer a {
    color: white;
    text-decoration:none;
}

#content pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}
#content pre > code {
    display: block;
    padding: 0.5em 1em;
}
#content code {
    display: inline;
    padding: 0.2em 0.5em;
}
code {
    border: 1px solid #bebab0;
}